# shellcheck disable=SC2148,SC2155

# DEBUG=* docker run --name mcp-obsidian -e DEBUG -e API_KEY --rm -i mcp-obsidian:latest

#
# Obsidian Local REST API configuration
#
export API_KEY=$(cat .secrets/obsidian_local_rest_api_key)
#
# custom root certificate
#
export NODE_EXTRA_CA_CERTS="$PWD/assets/rootCA.pem"
#
# Extract windows host machine IP address (WSL2)
#
export WINDOWS_HOST_IP=$(grep nameserver /etc/resolv.conf | awk '{print $2}')
#
# Get the gateway IP for default route
#
export WSL_GATEWAY_IP=$(ip route show | grep -i default | awk '{ print $3}')
#
# https://github.com/settings/tokens
#
export GITHUB_TOKEN=$(cat .secrets/github_token_workflows)
